.control-panel {
  margin: 0 0 25px;
}

.control-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0;

  &__select {

  }
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
