.date-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.table-container {
  max-height: 500px;
  height: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

th.mat-header-cell {
  min-width: 100px;
}

.mat-header-cell {
  color: #55ff5b;
}
