.converter-panel {
  margin: 0 0 20px;

  &__title {
    text-align: center;
  }

}

.converter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__btn {
    display: inline-block;
    position: relative;
    margin: 5px;
    padding-bottom: 1.34375em;
    button {
      line-height: 52px;
      min-width: 200px;
    }
  }
  .mat-form-field {
    margin: 5px;
  }
}

.panel-hidden {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__currencyOne {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
  }

  &__currencyValue {
    padding: 0 13px 0 0;
  }

  &__currencyTwo {
    font-size: 25px;
    line-height: 25px;
    color: #55ff5b;
  }
}
.mat-input-element {
  font-size: 18px;
  font-weight: 400;
}
